<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Error</th>
      <th scope="col">Description</th>
      <th scope="col">Datetime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Morbi non malesuada lectus, non malesuada purus. Nunc quam nunc, fermentum ac vestibulum et, iaculis non dolor.</td>
      <td>2020-06-12 12:25:31 Mo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Cras tincidunt luctus tincidunt. Nunc quis aliquam libero, at fermentum dolor. Vivamus hendrerit nec nisi a efficitur</td>
      <td>2020-06-12 12:25:31 Mo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Nam ullamcorper lacus ut massa tincidunt fringilla. Aliquam vel est mollis, fringilla mi sed, lobortis nulla. Donec consequat iaculis pretium.</td>
      <td>2020-06-12 12:25:31 Mo</td>
    </tr>
  </tbody>
</table>