<div class="col">
<div class="card">

    <div class="card-body">
      <h5 class="card-title">Devices active</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="dot"></span> Cras justo odio</li>
        <li class="list-group-item"><span class="dot"></span> Dapibus ac facilisis in</li>
        <li class="list-group-item"><span class="dot dotgreen"></span> Morbi leo risus</li>
        <li class="list-group-item"><span class="dot"></span> Porta ac consectetur ac</li>
        <li class="list-group-item"><span class="dot"></span> Vestibulum at eros</li>
        <li class="list-group-item"><span class="dot"></span> Cras justo odio</li>
        <li class="list-group-item"><span class="dot"></span> Rudi hv <span><i>v: 2.34.1</span></li>
        <li class="list-group-item"><span class="dot"></span> Morbi leo risus</li>
        <li class="list-group-item"><span class="dot"></span> Porta ac consectetur ac</li>
        <li class="list-group-item"><span class="dot"></span> Vestibulum at eros</li>
      </ul>
    </div>

    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>

  </div>
</div>