<div class="card">

    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <h6 class="card-subtitle mb-2 text-muted">Project menager: <b>Jan Kowalski</b></h6>
      <h6 class="card-subtitle mb-2 text-muted">Country: <b>Japan</b></h6>
      <h6 class="card-subtitle mb-2 text-muted">City: <b>Tokio</b></h6>
      <span><i>2020 Luty</i></span>
      <hr>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac nisi luctus, pharetra ipsum in, volutpat dui. Donec ultricies efficitur justo, nec vestibulum odio efficitur a. Nam ullamcorper lacus ut massa tincidunt fringilla. Aliquam vel est mollis, fringilla mi sed, lobortis nulla. Donec consequat iaculis pretium. </p>
    </div>
</div>
