{% extends "dashboard/projects/projects.html" %}
{% block projectcontent %}
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Project id</th>
          <th>Location</th>
          <th>Client name</th>
          <th>Software name</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr data-href='#' style='cursor: pointer;'>
          <td>{{ project.id }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}