{% extends "dashboard/projects/projects.html" %}
{% block projectcontent %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
  <h4 >Projects details: <b>{{ project.name }} {{project.number}} - {{ project.client.name}}</b></h4>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% include "dashboard/projects/cards/project_info.html"%}
    {% include "dashboard/projects/cards/project_computer.html"%}
    {% include "dashboard/projects/cards/project_devices.html"%}

 </div> <hr>
 {% include "dashboard/projects/cards/project_errors.html"%}
 {% include "dashboard/projects/cards/project_chart.html"%}

{% endblock %}