<div class='row'>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Clients list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard-new_client' %}">New client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
</div>