{% extends "dashboard/resources/resources.html" %}
{% block resourcescontent %}

<div class='row'>
    <div >
        <table class="table-responsive table table-striped table-sm table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Project</th>
              <th>Client</th>
              <th>Software</th>
              <th>CPU</th>
              <th>RAM</th>
            </tr>
          </thead>
          <tbody>
            {% for device in devices %}
            <tr>
              <td>{{ device.id }}</td>
              <td>{{ device.date_added|date:"Y-m l"}}</td>
              <td>{{ device.proj_num.name }} {{ device.proj_num.number }}</td>
              <td>{{ device.proj_num.client.name }}</td>
              <td>{{ device.proj_num.software.name }} {{device.project.software_ver}}</td>
              <td>{{ device.cpu }}</td>
              <td>{{ device.ram_used }} / {{device.ram_percent}}%</td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endblock %}