{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}

{% block content %}
    <h1>Logowanie</h1>

    {% if form.errors %}
        <p>Nieprawidłowe dane logowania</p>
    {% else %}
        <p>Formularz logowania</p>
    {% endif %}
    <div>
        <form action="{% url 'login' %}" method="post">
            <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>
            {{form.as_p}}
            {% csrf_token %}
            <input type='hidden' name='next' value='{{ next }}'/>
            <p><input type='submit' value='Zaloguj'></p>
        </form>
    </div>
{% endblock %}