<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">

      
      <li class="nav-item">
        {% url 'dashboard-clients' as url %}
        <a class="nav-link {% if request.path == url %} active {% endif %}" href="{% url 'dashboard-clients' %}">
          <span data-feather="users"></span>
          Clients
        </a>
      </li>

      <li class="nav-item">
        {% url 'dashboard-errorslog' as url %}
        <a class="nav-link {% if request.path == url %} active {% endif %}" href="{% url 'dashboard-errorslog' %}">
          <span data-feather="bar-chart-2"></span>
          Error log
        </a>
      </li>

      <li class="nav-item">
        {% url 'dashboard-structures' as url %}
        <a class="nav-link {% if request.path == url %} active {% endif %}" href="{% url 'dashboard-structures' %}">
          <span data-feather="layers"></span>
          Structure
        </a>
      </li>

      </li>
      <li class="nav-item">
        {% url 'dashboard-projects' as url %}
        <a class="nav-link {% if request.path == url %} active {% endif %}" href="{% url 'dashboard-projects' %}">
          <span data-feather="file"></span>
          Projects
        </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file"></span>
          Reports
        </a>
      </li> -->

    </ul>
    <hr>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Clients details</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">

      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          #101 Client name
        </a>
      </li>

    </ul>
  </div>
</nav>